    
        <p>Name:<%= "#{@heroine.name}"%></p>
            <br>
        <p>Supername:<%= "#{@heroine.super_name}"%></p>
        <br>

        <p>Power:<%= link_to "#{@heroine.power.name}", powers_path %></p>

    <br>
    
